*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

.footer{
    width:100%;
    border-top:1px solid #e5e5e5;
    padding:60px 0 30px;
}

.footer-container{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:60px;
}

.footer-logo{
    width:28%;
}

.footer-logo h2{
    font-size:32px;
    margin-bottom:40px;
}

.footer-logo p{
    color:var(--gray);
    line-height:35px;
    font-size:18px;
}

.footer-links,
.footer-help,
.footer-newsletter{
    display:flex;
    flex-direction:column;
    gap:30px;
}

.footer-links h4,
.footer-help h4,
.footer-newsletter h4{
    color:var(--gray);
    font-size:18px;
    margin-bottom:10px;
}

.footer-links a,
.footer-help a{
    text-decoration:none;
    color:#000;
    font-size:18px;
    font-weight:500;
}

.newsletter-form{
    display:flex;
    align-items:center;
    gap:12px;
}

.newsletter-form input{
    border:none;
    border-bottom:1px solid #000;
    outline:none;
    padding:8px 0;
    width:220px;
    font-size:16px;
}

.newsletter-form button{
    border:none;
    background:none;
    border-bottom:1px solid #000;
    padding:8px 0;
    font-size:16px;
    cursor:pointer;
}

.footer-bottom{
    width:90%;
    margin:60px auto 0;
    border-top:1px solid #e5e5e5;
    padding-top:30px;
}

.footer-bottom p{
    font-size:18px;
}


.newsletter-form input{
    color: var(--gray);
}